@page "/"

<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-6 text-center text-md-start">
            <h1 class="display-4 fw-bold">Yektamak ERP Sistemine Hoş Geldiniz</h1>
            <p class="lead mt-3">
                Bu platform üzerinden firma, personel, kullanıcı ve daha fazlasını yönetebilirsiniz.
                Tüm kurumsal işlemlerinizi kolayca takip edin, kontrol sizde olsun!
            </p>
            <NavLink class="btn btn-primary btn-lg mt-3" href="/login">Kullanıcı Giriş</NavLink>
        </div>
        <div class="col-md-6 text-center mt-4 mt-md-0">
            <img src="images/logo.png" class="img-fluid" alt="ERP Giriş Görseli" style="max-height: 400px;" />
        </div>
    </div>
</div>
